{# blog/_review_form_fields.html #}

{{ review_form.non_field_errors }}

<div>
    {{ review_form.headline.label_tag }}<br>
    {{ review_form.headline }}
    {{ review_form.headline.errors }}
</div>
<div>
    {{ review_form.body.label_tag }}<br>
    {{ review_form.body }}
    {{ review_form.body.errors }}
</div>
<div class="rating-input">
    <label>Note</label>
    <div class="stars-input">
        {% for value in "54321" %}
            <input type="radio" id="star{{ value }}" name="rating" value="{{ value }}"
                {% if review_form.instance.rating|stringformat:"s" == value %}checked{% endif %}>
            <label for="star{{ value }}">★</label>
        {% endfor %}
    </div>
</div>