<div class="review">
    {% if review.user == request.user %}
        <p>Vous avez publié une CRITIQUE - le {{ review.time_created }}</p>
    {% else %}
        <p>{{ review.user.username }} a publié une CRITIQUE - le {{ review.time_created }}</p>
    {% endif %}

    <h3>
        {{ review.headline }}
        <span class="stars">
            {% for i in "12345" %}
                {% if forloop.counter <= review.rating %}
                    ★
                {% else %}
                    ☆
                {% endif %}
            {% endfor %}
        </span>
    </h3>
    <p>{{ review.body }}</p>

    <div class="review-ticket">
        {% if review.ticket.user == request.user %}
            <p>Vous avez publié une DEMANDE de CRITIQUE - le {{ review.ticket.time_created }}</p>
        {% else %}
            <p>{{ review.ticket.user.username }} a publié une DEMANDE de CRITIQUE - le {{ review.ticket.time_created }}</p>
        {% endif %}

        <h4>{{ review.ticket.title }}</h4>

        {% if review.ticket.description %}
            <p>{{ review.ticket.description }}</p>
        {% endif %}

        {% if review.ticket.image %}
            <img src="{{ review.ticket.image.url }}" alt="Illustration pour {{ review.ticket.title }}">
        {% endif %}
    </div>
</div>