{% extends 'base.html' %}

{% block content %}
    <h1>Vos posts</h1>

    <h2>Vos DEMANDE de CRITIQUE</h2>
    <ul>
        {% for ticket in tickets %}
            {% include "blog/_ticket_snippet.html" with ticket=ticket %}

            {% if ticket.user == request.user %}
                <div class="action-links">
                    <a href="{% url 'ticket_update' ticket.id %}" class="btn">Modifier</a>
                    <form action="{% url 'ticket_delete' ticket.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                </div>
            {% endif %}
        {% endfor %}
    </ul>

    <h2>Vos CRITIQUES</h2>
    <ul>
        {% for review in reviews %}
            {% include "blog/_review_snippet.html" with review=review %}

            {% if review.user == request.user %}
                <div class="action-links">
                    <a href="{% url 'review_update' review.id %}" class="btn">Modifier</a>
                    <form action="{% url 'review_delete' review.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                </div>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock content %}