{% extends 'base.html' %}

{% block content %}
<h1>Modifier votre critique</h1>

<p>Vous êtes en train de poster en réponse à :</p>
<div>
    <strong>{{ ticket.title }}</strong><br>
    {{ ticket.description }}<br>
    <em>Ticket créé le {{ ticket.time_created }}</em>
</div>

<form method="post">
    {% csrf_token %}

    {{ review_form.non_field_errors }}

    <div>
        {{ review_form.headline.label_tag }}<br>
        {{ review_form.headline }}
        {{ review_form.headline.errors }}
    </div>
    <div>
        {{ review_form.body.label_tag }}<br>
        {{ review_form.body }}
        {{ review_form.body.errors }}
    </div>
    <div>
        {{ review_form.rating.label_tag }}<br>
        {{ review_form.rating }}
        {{ review_form.rating.errors }}
    </div>

    <button type="submit">Envoyer</button>
</form>
{% endblock content %}