{% extends 'base.html' %}

{% block content %}
<h1>Abonnements</h1>

{# Affichage des messages #}
{% if messages %}
<ul role="alert">
  {% for message in messages %}
    <li class="{{ message.tags }}">{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

<h2>Utilisateurs que vous suivez</h2>
<ul>
{% for user in following %}
    <li class="follow-item follow-card">
        <span>{{ user.username }}</span>
        <form action="{% url 'unsubscribe' user.id %}" method="post">
            {% csrf_token %}
            <button class="btn btn-danger-unfollow" type="submit">Se désabonner</button>
        </form>
    </li>
{% empty %}
    <li>Vous ne suivez encore aucun utilisateur.</li>
{% endfor %}
</ul>

<h2>Utilisateurs qui vous suivent</h2>
<ul>
{% for user in followers %}
    <li>{{ user.username }}</li>
{% empty %}
    <li>Personne ne vous suit pour l'instant.</li>
{% endfor %}
</ul>

<h2>Suivre d'autres utilisateurs</h2>
<form action="{% url 'follow_user' %}" method="post">
    {% csrf_token %}
    {{ form.username.label_tag }}
    {{ form.username }}
    <button type="submit">Envoyer</button>
</form>

{% endblock content %}